/* Reset default margin and padding for body */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0); /* Set background color for the entire body */
  font-family: Arial, sans-serif; /* You can specify a preferred font family here */
}

/* Style for h1 elements */
h1 {
  color: rgb(144, 173, 215);
  text-align: center; /* Center align h1 text */
}

/* Style for p elements */
p {
  color: rgb(255, 255, 255);
  text-align: left; /* Adjust text alignment for p elements as needed */
}

/* Container for image */
.container {
  position: relative;
  width: 20%;
  height: 20vh; /* This ensures the container takes the full height of the viewport */
}

/* Style for the image */
img {
  position: absolute;
  top: 0;
  right: 0;
}
